<!-- event.component.html -->
<div *ngIf="event">
  <h2>Edit Event</h2>
  <form (ngSubmit)="saveEvent()">

    <label for="id">Id:</label> 
    <input type="text" id="id" name="id" [(ngModel)]="event.id" required><br>        

    <label for="sName">Event Name:</label> 
    <input type="text" id="sName" name="sName" [(ngModel)]="event.name" required><br>
    
    <label for="cName">Category:</label>
    <input type="text" id="cName" name="cName" [(ngModel)]="event.type" required><br>

    <table>
      <thead>
        <tr>
          <th>Song Name</th>
          <th>Category</th>
          <th>Pdf</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let song of event.songs">
          <td>{{ song.sName }}</td>
          <td>{{ song.cName }}</td>
          <td>{{ song.pdf.link }}</td>
        </tr>
      </tbody>
    </table>

    <button type="submit">Save</button>
  </form>
</div>

<h2>Upload Files</h2>
<input type="file" (change)="onFilesSelected($event)">
<button (click)="onUpload()">Upload</button>