mat-card {
    margin: 20px;
  }
  
  mat-form-field, mat-select {
    width: 100%
  }
  
  mat-card-title {
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 10px;
  }
  
  mat-slider {
    width: 90%;
  }
  
  mat-expansion-panel {
    margin-bottom: 20px;
  }
  
  mat-panel-title {
    font-weight: bolder;
  }
  