<div class="event-list" *ngIf="events">
    <h1>Event List</h1>

    <div style="padding-bottom: 15px;">
        <a [routerLink]="'/events/0'">New Event</a>
    </div>

    <table class="event-table">
      <thead>
        <tr>
           <th>Id</th>
          <th>Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Category</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events">
            <td>{{ event.id }}</td>
            <td>{{ event.name }}</td>
            <td>{{ event.date }}</td>
            <td>{{ event.time }}</td>
            <td>{{ event.type }}</td>
            <td>
            <a [routerLink]="'/events/' + event.id">Edit</a>
            &nbsp;
            <a style="text-decoration: underline;" (click)="deleteEvent(event.id)">Delete</a>
            &nbsp;
            <a [routerLink]="'/yaml/' + event.id">Yaml</a>    
            &nbsp;
            <a style="text-decoration: underline;" (click)="download(event.id)">Download Zip</a>                    
            </td>
        </tr>
        </tbody>
    </table>      
</div>