<!-- src/app/app.component.html -->
<div *ngIf="directories">
    <h1>Directory List</h1>
    <ul>
      <li *ngFor="let directory of directories">
        <a href="#" (click)="fetchDirectoryContents(directory.name)">{{ directory.name }}</a>
      </li>
    </ul>
  </div>
  
  <div *ngIf="selectedDirectory">
    <h2>Contents of {{ selectedDirectory }}</h2>
    <ul>
      <li *ngFor="let file of directoryContents">{{ file.name }}</li>
    </ul>
  
    <h2>Upload Files to {{ selectedDirectory }}</h2>
    <input type="file" (change)="onFilesSelected($event)">
    <button (click)="onUpload()">Upload</button>
  </div>
  
  <a routerLink="/events">Events</a>